.introText{
    font-size: 70px;
    font-weight: bold;
}

.careerText{
    font-size: 30px;
}

.nameColor{
    color: #F80759;
}

.projects{
    background-color: #F80759 ;
    color: white;
    font-size: 20px;
}